* {
    box-sizing: border-box;
}

body{
    background-color: #021627;
}

html {
    scroll-behavior: smooth;
}

.header a {
    font-style: none;
    font-family: 'Lato', sans-serif;
    color: rgb(132, 142, 89);
    padding-left: 15px;
}

body {
margin: 0
font-family 'Lato', sans-serif;
color:rgb(166, 181, 180);
}

.wrapper {
    max-width: 1440 px; 
    margin:0 auto;
}

h1, h2, h3 {
    margin: 0;
}

h1, h2 {
    text-shadow: 2px 2px 2px rgba(170, 150, 129, 0.4);
}

h2 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(201, 198, 133);
}

.nav a {
    font-style: none;
    font-family: 'Lato', sans-serif;
    color: rgb(193, 193, 208);
}


.contact-lists a {
    font-style: none;
    font-family: 'Lato', sans-serif;
    color: rgb(193, 193, 208);
}

li {
    padding-bottom: 10px;
}

.education {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.experience-container {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.experience a {
    font-style: none;
    font-family: 'Lato', sans-serif;
    color: rgb(193, 193, 208);
} 
    


.section-content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
    
.paragraph {
    color: rgb(13, 62, 69);
    font-style: italic;
    font-size: 20px;
    background-color: rgb(141, 202, 196);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}



.rs-logo {
    width: 150px;
    height: 100px;
}

.git-logo {
    width: 100px;
    height: 100px;
}

